* {
  box-sizing: border-box;
  margin: 0;
}

#app-bar {
  box-shadow: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 5rem;
}
.for-centering-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0;
}

/************ scan view styles ************/

#loading-circle {
  position: fixed;
  top: 50vh;
  left: 50vw;
}

#file-input-container-all {
  display: flex;
  justify-content: center;
}

.scan-btn {
  transition: .3s;
}

.scan-btn:hover {
  transition: color .2s;
  color: #ffffff;
}

#file-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

#input-text-list {
  margin-top: 1em;
  padding: 0 1em;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 60vh;
  scrollbar-width: thin;
  overflow-y: scroll;
}

.scanned-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  cursor: default;
  width: 100%;
  margin: .5vh 0;
  padding-left: 1vw;
  padding-right: 1vw;
}

#file-input-buttons {
  margin: 1em 0;
}

#after-scan-buttons * {
  margin: .4em 0;
  text-decoration: none;
  text-align: center;
}

#after-scan-buttons {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  #file-input {
    width: 90vw;
  }
}

/************ scan view end ************/
/************ favorites styles ************/

.block:active {
  color: rgb(209, 73, 191);
  border: none;
  transition: .3s;
}
.block:focus {
  outline: none;
}
.block:hover {
  color: darkred;
  background-color: rgb(233, 233, 233);
}

#favorited-btn {
  background-color: lightpink;
  color: darkred;
}

.user-home-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.favorites-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1em;
}

.bar-info {
  display: flex;
}

.bar-info > span {
  color: gray;
  margin: 0 .6em;
}

.items-view {
  padding: 1em;
  display: flex;
  align-items: center;
  height: 238px;
  width: 70vw;
  border: 1px solid rgb(187, 187, 187);
  overflow: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.empty {
  justify-content: center;
  text-align: center;
}

.favorite-drink-thumb {
  margin: 0 .5em;
  padding: 1em;
  border: 1px solid rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favorite-drink-thumb *, .favorite-drink * {
  text-align: center;
}

.favorite-drink-img {
  width: 150px;
  height: 150px;
  margin-bottom: .2em;
}

.mui-like {
  text-decoration: none;
  color: #57ada0;
  transition: .3s;
}

.mui-like:hover {
  color: #217d72;
  transition: .3s;
}

.mui-like:active {
  color: #062e29;
  transition: .3s;
  outline: lightsalmon dotted 1px;
}

.all-drinks-container {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
}

.drink-img-all {
  max-height: 15vw;
  max-width: 15vw;
}

.drink-list-thumb {
  position: relative;
  border: 1px solid rgb(221, 221, 221);
  padding: 1em;
  margin: 1vw 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-results {
  align-self: flex-start;
  margin-left: 10vw;
  margin-bottom: .5em;
}

.heart-icon {
  position: absolute;
  right: 3.5vh;
  top: 3.5vh;
  color: rgb(255, 218, 224);
}

/************ favorites end ************/

/************media start****************/
@media screen and (max-width: 1699px) {
  .drink-img-all {
    max-height: 17vw;
    max-width: 17vw;
  }
}
@media screen and (max-width: 1366px) {
  .drink-img-all {
    max-height: 20vw;
    max-width: 20vw;
  }
}
@media screen and (max-width: 1000px) {
  .drink-img-all {
    max-height: 30vw;
    max-width: 30vw;
  }
  .all-drinks-container {
    justify-content: center;
  }
  .user-home-bar {
    width: 95vw;
  }
  .items-view {
    width: 85vw;
  }
}
@media screen and (max-width: 600px) {
  .drink-img-all {
    max-height: 70vw;
    max-width: 70vw;
  }
  .heart-icon {
    right: 4vh;
    top: 4vh;
  }
  .block {
    display: none;
  }
  .user-home-bar {
    width: 100vw;
  }
  .items-view {
    width: 95vw;
  }
}
/***************media end*****************/
.drink-page {
  display: flex;
  width: 40%;
  align-items: center;
  margin-left: 10em;
  flex-wrap: row;
} 
.drink-page div {
  border: 1px;
  padding: 10px;
  /* flex-wrap: row; */
}
/* .drink-detail {
  align-items: center;
} */

.drink-img {
  align-items: center;
  justify-content: center;
  width: 100%;
}
.recipe {
  width: 100%;
}
.recipe-name {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bold;;
}
#submission {
  display: flex;
  justify-content: center;
  align-items: center;
}
#field-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#field-add { 
  justify-content: center;
  flex-wrap: wrap;
  
}

footer {
  display: flex;
  flex-direction: column;
}
.footer {
  display: flex;
  align-content: center;
  justify-content: space-around;
  background-color: #80ced6;
  padding: 0.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  flex-direction: row;
}

.footer a {
  color: black;
}

#inputs {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-direction: column;
}

#cabinet-page {
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 1rem;
}
#cabinet-header {
  display: flex;
  justify-content: flex-start;
  padding-top: 1rem;
}

#cabinet-shelf {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1rem;

}

#cabinet-button {
  padding-right: 1rem;
}

#delete-button {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.25rem;
}
/* 
#cabinet-item {
  padding: 1rem;
} */

.scanItemsButton{
  color:#57ada0;
}

.mainPic {
  width: 100%;
}

