* {
  box-sizing: border-box;
  margin: 0;

}

#app-bar {
  box-shadow: none;
}

.for-centering-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}

/************ scan view styles ************/

#loading-circle {
  position: fixed;
  top: 50vh;
  left: 50vw;
}

#file-input-container-all {
  display: flex;
  justify-content: center;
}

.scan-btn {
  transition: .3s;
}

.scan-btn:hover {
  transition: color .2s;
  color: #ffffff;
}

#file-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

#input-text-list {
  margin-top: 1em;
  padding: 0 1em;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 60vh;
  scrollbar-width: thin;
  overflow-y: scroll;
}

.scanned-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  cursor: default;
  width: 100%;
  margin: .5vh 0;
  padding-left: 1vw;
  padding-right: 1vw;
}

#file-input-buttons {
  margin: 1em 0;
}

#after-scan-buttons * {
  margin: .4em 0;
  text-decoration: none;
  text-align: center;
}

#after-scan-buttons {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  #file-input {
    width: 90vw;
  }
}

/************ scan view end ************/
/************ favorites styles ************/

.block {
  width: 2.5em;
  height: 2.5em;
  background-color: #ffffff;
  border: none;
  transition: .3s;
  border-radius: 2em;
}
.block:active {
  color: rgb(209, 73, 191);
  border: none;
  transition: .3s;
}
.block:focus {
  outline: none;
}
.block:hover {
  color: darkred;
  background-color: rgb(233, 233, 233);
}

#favorited-btn {
  background-color: lightpink;
  color: darkred;
}

.user-home-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.favorites-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1em;
}

.bar-info {
  display: flex;
}

.bar-info > span {
  color: gray;
  margin: 0 .6em;
}

.favorites-view {
  padding: 1em;
  display: flex;
  align-items: center;
  width: 70vw;
  border: 1px solid rgb(187, 187, 187);
  overflow: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.favorite-drink-thumb {
  margin: 0 .5em;
  padding: 1em;
  border: 1px solid rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favorite-drink-thumb *, .favorite-drink * {
  text-align: center;
}

.favorite-drink-img {
  width: 150px;
  height: 150px;
  margin-bottom: .2em;
}

.mui-like {
  text-decoration: none;
  color: #57ada0;
  transition: .3s;
}

.mui-like:hover {
  color: #217d72;
  transition: .3s;
}

.mui-like:active {
  color: #062e29;
  transition: .3s;
  outline: lightsalmon dotted 1px;
}

#all-favorites-container {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
}

.favorite-drink-img-all {
  max-height: 15vw;
  max-width: 15vw;
}

.favorite-drink {
  border: 1px solid rgb(221, 221, 221);
  padding: 1em;
  margin: 1vw 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1699px) {
  .favorite-drink-img-all {
    max-height: 17vw;
    max-width: 17vw;
  }
}
@media screen and (max-width: 1366px) {
  .favorite-drink-img-all {
    max-height: 20vw;
    max-width: 20vw;
  }
}
@media screen and (max-width: 1000px) {
  .favorite-drink-img-all {
    max-height: 30vw;
    max-width: 30vw;
  }
  #all-favorites-container {
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .favorite-drink-img-all {
    max-height: 70vw;
    max-width: 70vw;
  }
}
/************ favorites end ************/

.drink-page {
  display: flex;
}

.drink-detail {
  align-items: center;

}

.drink-img {
  align-items: center;
  justify-content: center;
  width: 50%;
}

#submission {
  display: flex;
  justify-content: center;
  align-items: center;
}
#field-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#field-add { 
  justify-content: center;
  flex-wrap: wrap;
  
}

#inputs {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-direction: column;
}

#cabinet-page {
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 1rem;
}

#cabinet-shelf {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1rem;

}
/* 
#cabinet-item {
  padding: 1rem;
} */

.scanItemsButton{
  color:#57ada0;
}

.mainPic {
  width: 100%;
}
.googleLogin{
  width:100px;
  height: 100px;
  background-color:black;
}
/* .makeStyles-root-14{
  width: 800px;
} */
/* .userHome{
  /* background-color:palegreen; */
  /* width: 800px; */
  /* height: auto; */

/* }  */
#container{
  /* display: flex; */
/* background-image: url("https://venerablecapital.es/wp-content/uploads/2019/07/bigstock-Mojito-drink-on-wood-with-blur-63752305.jpg"); */
/* background-repeat: no-repeat; */
/* background-image: url("https://previews.123rf.com/images/bondd/bondd1801/bondd180100725/94596548-tropical-drink-pineapple-juice-margarita-cocktail-with-fresh-mint-light-blue-background-copy-space-t.jpg") */

background-image: url("https://i.pinimg.com/originals/27/0e/c0/270ec08bcf95f59e83181359827f573e.jpg")
}
#carousel1{
  align-content: center;
  outline-color: red;
  align-items: center;
  /* width: 1500px; */

}